:host {
  position: relative;
  display: block;
  float: left;
  padding: 15px 0;
  width: 250px;
  height: 100vh;

  background-color: #303942;
}

.menu {
  position: relative;
  width: 100%;

  .menu__list {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .menu__item {
    display: block;
    position: relative;
    width: 100%;

    list-style: none;
  }

  .menu__link {
    display: block;
    padding: 10px 20px;
    width: 100%;

    color: #8b929b;
    text-decoration: none;

    cursor: pointer;
    transition: color .3s, padding-left .3s;

    &:hover,
    &:focus,
    &.menu__link--active {
      color: #fff;
    }

    &.menu__link--active {
      padding-left: 30px;
    }
  }

  // todo
  .menu__submenu {

    .menu__list {
      
    }

    .menu__item {

    }

    .menu__link {

    }
  }

}
