<app-auth-layout>

  <h2 class="text-center mb-4">Login</h2>

  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="userName">Email address</label>
      <input
        email
        type="email"
        id="userName"
        name="userName"
        formControlName="userName"
        placeholder="Enter email"
        class="form-control"
        [ngClass]="{
          'is-invalid': util.validateField(f.userName, submited)
        }"
        trim="blur">
      <div
        class="invalid-feedback"
        *ngIf="util.validateField(f.userName, submited)">
        <div *ngIf="f.userName.errors.required">Email is required</div>
        <div *ngIf="f.userName.errors.email">Email is invalid</div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        formControlName="password"
        placeholder="Password"
        class="form-control"
        [ngClass]="{
          'is-invalid': util.validateField(f.password, submited)
        }"
        trim="blur">
      <div
        class="invalid-feedback"
        *ngIf="util.validateField(f.password, submited)">
        <div *ngIf="f.password?.errors.required">Password is required</div>
        <div *ngIf="f.password?.errors.minlength">
          Password must be at least 6 characters long
        </div>
      </div>
    </div>

    <div class="form-check">
      <input
        type="checkbox"
        class="form-check-input"
        id="rememberMeChecked"
        name="rememberMeChecked"
        formControlName="rememberMeChecked">
      <label
        class="form-check-label"
        for="rememberMeChecked">
        Check me out
      </label>
    </div>

    <div class="text-center mt-4">
      <button
        [disabled]="submited && loginForm.invalid"
        [ngStyle]="{'pointer-events': submited && loginForm.valid ? 'none' : 'auto'}"
        type="submit"
        class="btn btn-primary px-4">
        Submit
      </button>
    </div>

  </form>
</app-auth-layout>
