:host {
  display: block;
  padding: 0 30px;
  width: 100%;
  min-height: 70px;

  box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
  background-color: #fff;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
